# Dependencies
/node_modules

# Build output
/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!/.env.example
!/.env.test.example

# IDE specific
.idea
.vscode

# OS specific
.DS_Store
Thumbs.db

# Package Lock files
package-lock.json